    .SlideBox {
      font-family: sans-serif;
      
    }
    
    .bg {
      width: 90%;
      height: 500px;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      will-change: opacity;
      border-radius: 15px;
    }