.add-block{
    background-image: url('https://images.pexels.com/photos/221457/pexels-photo-221457.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-size: contain;
    height: 100%;
    object-fit: cover;
}

.form{
    width: 80%;
    height: auto;
    max-width: 500px;
    margin: 50px auto;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    background: transparent;
}

.form input{
    margin-top: 10px;
    height: 30px;
}

.form button{
    margin-top: 15px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    height: 50px;
    width: 70px;
    align-self: flex-end;
    background-color: blue;
}